<div class="nagivation">
  <img class="logo" src="https://theme.hstatic.net/1000235488/1001033181/14/logo.png?v=122" alt="">
  <div class="navbar">
    <a href="https://papka.vn/">Trang chủ</a>
    <a href="https://papka.vn/pages/about-us">Về PAPKA</a>
    <div class="dropdown">
      <div class="dropdown-title">
        <img class="icon" src="https://theme.hstatic.net/1000235488/1001033181/14/menu_icon_3.png?v=122"
             alt="">
        <a>Bộ Sưu Tập</a>
        <span class="material-symbols-outlined">expand_more</span>
      </div>
      <div class="dropdown-content">
        <div class="column">
          <h4>Nam</h4>
          <a href="">Nam</a>
          <a href="">Áo thun nam</a>
          <a href="">Quần thun nam</a>
          <a href="">Sơ mi nam</a>
          <a href="">Quần nam</a>
        </div>
        <div class="column">
          <h4>Nữ</h4>
          <a href="">Nữ</a>
          <a href="">Áo thun nữ</a>
          <a href="">Áo sơ mi</a>
          <a href="">Quần nữ</a>
          <a href="">Đầm / Váy</a>
        </div>
      </div>
    </div>
    <a href="https://papka.vn/blogs/tin-thoi-trang">Tin Thời Trang</a>
    <a href="https://onapp.haravan.com/orderstrackingphone/shop/minhgiaphu">Kiểm tra đơn hàng</a>
  </div>
  <div class="nag-icon">
    <span class="material-symbols-outlined">search</span>
    <div class="login">
      <span class="material-symbols-outlined">person</span>
      <div class="dropdown-menu">
        <a href="https://papka.vn/account/login">Đăng nhập</a> <br>
        <a href="https://papka.vn/account/register">Đăng ký</a>
      </div>

    </div>
    <span class="material-symbols-outlined">shopping_bag</span>


  </div>
</div>
<div class="home">
  <a href="https://papka.vn/">Trang chủ</a>
  <span>/</span>
  <a href="https://papka.vn/collections/all">Danh mục</a>
  <span>/</span>
  <span>Nam</span>
</div>
<img class="card"
     src="https://file.hstatic.net/1000235488/collection/papka_collection_nam_feedback_31d1420129924155baa5deeb2cab1c02.png"
     alt="">
