<div class="bottom-nagivation">
  <div class="footer-container">
    <div class="footer-column">
      <img class="footer-logo"
           src="https://theme.hstatic.net/1000235488/1001033181/14/logo-footer.png?v=122" alt="">
      <p><span class="material-symbols-outlined">location_on</span> Địa chỉ: Công ty TNHH Đầu Tư và Thương
        Mại Minh Gia Phú.<br>
        142-144-146 Đường 13, Phường Bình Trị Đông B, Quận Bình Tân, TP.HCM.<br>
        Mã số thuế: 0305453357</p>

      <p><span class="material-symbols-outlined">mobile_3</span> 0964 838 828</p>
      <p><span class="material-symbols-outlined">mail</span> cskh-papkaminhgiaphu.com</p>

      <p><span class="material-symbols-outlined">copyright</span>Bản quyền thuộc về <span
        class="name-coppyright">EGANY</span> | Cung
        cấp bởi <span class="name-coppyright">Haravan</span></p>
    </div>

    <div class="footer-column">
      <p class="lead">Hướng dẫn</p>
      <a href="">Hướng dẫn mua hàng</a> <br>
      <a href="">Hướng dẫn chọn size</a> <br>
      <a href="">Hướng dẫn bảo quản</a> <br>
      <a href="">Chính sách đổi trả</a><br>
      <a href="">Chính sách thanh toán</a> <br>
      <a href="">Chính sách giao nhận</a> <br>
      <a href="">Chính sách bảo mật</a> <br>
      <a href="">Hệ thống cửa hàng PAPKA</a> <br>

    </div>

    <div class="footer-column">
      <p class="lead">HỖ TRỢ KHÁCH HÀNG</p> <br>
      <a href="">Trang chủ</a><br>
      <a href="">Về PAPKA</a><br>
      <a href="">Bộ Sưu Tập</a><br>
      <a href="">Tin Thời Trang</a><br>
      <a href="">Kiểm tra đơn hàng</a><br>
    </div>

    <div class="footer-column">
      <p class="lead">ĐĂNG KÝ NHẬN TIN</p>

      <div class="subscribe-box">
        <input matInput type="email" placeholder="Nhập địa chỉ email" class="subscribe-input" />
        <button mat-flat-button color="primary" class="subscribe-button">Đăng ký</button>
      </div>

      <div class="socials">
        <a href="https://www.facebook.com/thoitrangpapka"><img
          src="https://theme.hstatic.net/1000235488/1001033181/14/facebook.png?v=122"></a>
      </div>
    </div>

    </div>
  <div class="payment-methods">
    <img src="https://theme.hstatic.net/1000235488/1001033181/14/logo_bct.png?v=122" alt="">
    <img src="https://theme.hstatic.net/1000235488/1001033181/14/footer_trustbadge.png?v=122" alt="">
  </div>
</div>


